<a href="https://colab.research.google.com/github/snehal010/Mookambika-32/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from re import split
#supervised - output already there , data is labeled, used for prediction
#nsupervised - no labels , no output, useful for hidden patterns

#classification - it is categorical , like true or falregration - it is contineous , like price

#rows - obeservations / samples
#column - variables / attributes

#feature (x) - input columns like age, salary
#target (y) - output variable , like loan status

#rules:
#ml learn pattern from x
#with that ml predicts y

#Machine learning flow:

#Probem / model framing - Definig target variable and closing the type
#Feature understanding - Numerical vs categorical, removing unnessasry column
#Feature - Target seperation - x,y
#Ttain test split - To avoid data leackage
#Preprossing  - encoding , scaling, imputation
#Modeling - choosing model and training

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving loan_approval_dataset.csv to loan_approval_dataset (1).csv

In [ ]:
import pandas as pd

df = pd.read_csv("loan_approval_dataset.csv")

In [ ]:
# print first 5 data
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [ ]:
df.tail()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [ ]:
df.shape

(4269, 13)

In [ ]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [ ]:
df.size

55497

In [ ]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [ ]:
df.describe

<bound method NDFrame.describe of       loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]>

In [ ]:
df.isnull

<bound method DataFrame.isnull of       loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]>

In [ ]:
df.mean(numeric_only=True)

loan_id                      2.135000e+03
 no_of_dependents            2.498712e+00
 income_annum                5.059124e+06
 loan_amount                 1.513345e+07
 loan_term                   1.090045e+01
 cibil_score                 5.999361e+02
 residential_assets_value    7.472617e+06
 commercial_assets_value     4.973155e+06
 luxury_assets_value         1.512631e+07
 bank_asset_value            4.976692e+06
dtype: float64

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
# feature and target sepration
x = df.drop('loan_status', axis=1)
y = df['loan_status']
print(x.columns)

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [ ]:
# cheking the missing values
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [ ]:

#train and split
from sklearn.model_selection import train_test_split
# scikit - learn, it is one of the most popular python libraries for ML
# this train and split is to avoid the data leackage

x_train, x_test, y_train, y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

#x_train - import data for training
#x_test - import data for testing
#y_train - correct answer for training
#y_test - correct answer for testined

#x_train + y_train - model / learned
#x_test + y_test -model is evaluvated

#satisfy - like it make sure all classes are
#enenly reprasented in train and split
#class total -
#pass - 90 fail- 10

#train and split
#90 and 10for train and also for test , then we will implement statify

In [ ]:
x_train.shape

(3415, 12)

In [ ]:
x_test.shape

#4269 total row before spliting
#854 is rest x after splitting
#854/4269=0.20

(854, 12)

In [ ]:
y_train.value_counts(normalize=True)
# 62 38

loan_status
Approved    0.622255
Rejected    0.377745
Name: proportion, dtype: float64

In [ ]:
y_train.value_counts(normalize=True)

loan_status
Approved    0.622255
Rejected    0.377745
Name: proportion, dtype: float64

In [ ]:
#the topics we did are:
#model framing
#target identified
#feture-target separation
#missing value check_arraytrain test split using random state and satisfy
#varified the split:
#x train shape , x test shape
#y train value y test value

In [ ]:

x_train = x_train.drop('loan_id',axis=1)
x_test = x_test.drop('loan_id',axis=1)

#loan id is just an identifier which has no meaning . if we k
#it the model may learn Noise
#removing unnessasry columns for the model train and test

In [ ]:
x_train.dtypes

loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [ ]:

x_train = x_train.drop('loan_id',axis=1)
x_test = x_test.drop('loan_id',axis=1)

#loan id is just an identifier which has no meaning . if we k
#it the model may learn Noise
#removing unnessasry columns for the model train and test

KeyError: "['loan_id'] not found in axis"

In [ ]:
# encoding the model x train and x test
# one hot encode categorical feature
from sklearn.preprocessing import OneHotEncoder

categorical_cols=["education","self_employed"]
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_cat = ohe.fit_transform(x_train[categorical_cols])
x_test_cat = ohe.transform(x_test[categorical_cols])

#the drop is to remove the redundant columns to avoid dummy variable trap
#sparse in default would store them as numpy array
#if false itll give the encided data as a normal table of
#numbers insteaded comprwessing it

In [ ]:
x_train_cat.shape

(3415, 2)

In [ ]:
x_test_cat.shape

(854, 2)

In [ ]:

np.unique(x_train_cat)

array([0., 1.])

In [ ]:
np.unique(x_test_cat)

array([0., 1.])

In [ ]:
ohe.get_feature_names_out(categorical_cols)

array(['education_ Not Graduate', 'self_employed_ Yes'], dtype=object)

In [ ]:
ohe.categories_

[array([' Graduate', ' Not Graduate'], dtype=object),
 array([' No', ' Yes'], dtype=object)]

In [ ]:

# Scaling numeric  features

from sklearn.preprocessing import  StandardScaler
numeric_cols = x_train.drop(columns=categorical_cols).columns
scaler = StandardScaler()

In [ ]:

# Scaling numeric  features

from sklearn.preprocessing import  StandardScaler
numeric_cols = x_train.drop(columns=categorical_cols).columns
scaler = StandardScaler()
x_train_num = scaler.fit_transform(x_train[numeric_cols])
x_test_num = scaler.transform(x_test[numeric_cols])

In [ ]:
x_train_num_df = pd.DataFrame(
    x_train_num,
    columns=numeric_cols,
    index=x_train.index
)
x_train_num_df.head()
#x_train_num_df = pd.DataFrame(
 #   x_train_num,
  #  columns=numeric_cols,
  #  index=x_train.index
#)

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1224,-0.734394,-1.456965,1.700955,0.983585,0.549181,-0.806352,-0.995573,1.942808,0.659076,0.696034
478,-1.336078,0.305326,-0.514765,-0.717129,-0.500709,1.110842,-0.312884,0.216625,-0.582560,0.078226
3065,0.750459,-0.282104,-1.086564,-1.228455,0.549181,-0.557291,-0.390463,-0.796070,-1.066029,-1.126500
326,-1.458673,-0.282104,-0.407553,-0.417003,0.199218,-0.476201,-0.669744,-1.141306,-0.516632,-0.107117
2991,0.690774,0.305326,-0.979352,-0.728245,0.199218,-0.238724,-0.592166,-0.819085,-0.978125,-1.126500

In [ ]:
x_train_num_df.std()

loan_id                     1.000146
no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [ ]:
x_train_num_df.mean()

loan_id                    -2.912913e-17
no_of_dependents            1.430448e-16
income_annum               -8.530674e-17
loan_amount                 8.530674e-17
loan_term                  -1.924603e-16
cibil_score                -2.642428e-16
residential_assets_value    4.369370e-17
commercial_assets_value    -1.248391e-17
luxury_assets_value        -1.040326e-16
bank_asset_value            1.316013e-16
dtype: float64

In [ ]:
x_train_num_df.mean()
x_train_num_df.std()

loan_id                     1.000146
no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [ ]:
x_train_num_df.min(),x_train_num_df.max()

(loan_id                    -1.721607
 no_of_dependents           -1.456965
 income_annum               -1.729838
 loan_amount                -1.639738
 loan_term                  -1.550599
 cibil_score                -1.727300
 residential_assets_value   -1.166245
 commercial_assets_value    -1.141306
 luxury_assets_value        -1.626413
 bank_asset_value           -1.528075
 dtype: float64,
 loan_id                     1.720735
 no_of_dependents            1.480187
 income_annum                1.736692
 loan_amount                 2.717647
 loan_term                   1.599072
 cibil_score                 1.747975
 residential_assets_value    3.302260
 commercial_assets_value     3.323755
 luxury_assets_value         2.647892
 bank_asset_value            3.012814
 dtype: float64)

In [ ]:
df.shape

(4269, 13)

In [ ]:
x.shape

(4269, 12)

In [ ]:
x_train.shape

(3415, 12)

In [ ]:
x_train_cat.shape

(3415, 2)

In [ ]:
#feature combination or concatenation

x_train_final = np.hstack([x_train_cat,x_train_num])
x_test_final = np.hstack([x_test_cat,x_test_num])

In [ ]:
x_test_final.shape

(854, 12)

In [ ]:
x_train_final.shape

(3415, 12)

In [ ]:
#here logistic regression is the correct one
#because the target is categorical output - approved/not approved
#logistic regression is used for binary classification and predicts probability
#converts it into class 0or 1, works well as baseline model
#itsnsimple, fast and easy to implement

In [ ]:
#logistic regression model
from numpy.random import logistic
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(x_train_final,y_train)

#max iter = 1000 is for logistic regression to lent using
#the number of iterations(optimization)
#default iteration are not enough  model fails to cover
#this where the model learn the pattern from the data

LogisticRegression(max_iter=1000)

In [ ]:
#evaluvate accurancy
from sklearn.metrics import accuracy_score

y_pred = model.predict(x_test_final)

In [ ]:
recap = pd.DataFrame({
    "y_test":y_test,
    "y_pred":y_pred
})

recap.head(10)

         y_test     y_pred
2346   Approved   Approved
1162   Approved   Approved
3061   Approved   Approved
483    Rejected   Approved
2102   Approved   Approved
1002   Rejected   Rejected
792    Rejected   Approved
2870   Approved   Approved
2475   Approved   Approved
3867   Approved   Approved

In [ ]:
# problem framing
# EDA
# data quality check : checking missing values
# feature terget separation
# train test split
# feature type identification
# removing unecessary columns
# categorical features encoding
# numerical feature scaling
# feature combination
# model selection
# model training
# model evaluation